.Home{
  padding: 10px 4%;
}
.Home-title{
  font-size: xx-large;
  text-align: center;
}
.mision{
  margin-top: 20px;
  margin-bottom: 20px;
}
.vision{
  margin-top: 20px;
  margin-bottom: 20px;
}
ul{
  margin-top: 1em !important; 
}