h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.new_project{
  padding: 3% 10%;
}



.project_name{
  font-size: 150%;
  margin: 15px 0;
}
.project_name input{
  color: black;
  background-color: white;
}